<footer id="about" class="footer">
    <h2 class="footer__heading">
        What do I do
    </h2>
    <p class="footer__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis suscipit veniam id, sint necessitatibus dolorem minima modi rem voluptate dolore ipsa atque iste eligendi, facilis dolores ab facere nulla! Illum.
        Expedita perspiciatis commodi illum dicta pariatur exercitationem ratione porro tempora dolore reiciendis, repudiandae animi odio omnis delectus quo, quas dolores nam? Quis distinctio quasi repellat sit nesciunt adipisci minima quaerat!
    </p>
</footer>