{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static 'layout.css' %}>
    <link rel="stylesheet" href={% static 'includes/header.css' %}>
    <link rel="stylesheet" href={% static 'includes/footer.css' %}>
    <link rel="stylesheet" href="{% static 'global.css' %}">     
    <title>
      {% block page_title%} Fallback title {% endblock page_title %} 
    </title>
    {% block css_files %}{% endblock css_files %}
  </head>
  <body>
    {% include "includes/header.html"  %}
    {% block content %}{% endblock content %}
    {% include "includes/footer.html" %}
  </body>
</html>
